<div class="container">
  <div class = "media">
      <div class="media-body">
        <h2 class="media-heading">
          <%=@proposal_detail.title%>
        </h2><hr>
        <p><%=@proposal_detail.description%></p>
        <small>
          <%=t('proposal.detail.send_by', author: @proposal_detail.author)%>
        </small>
        <small>
          <%=t('proposal.detail.tags', tags: @proposal_detail.tag_list * " ")%>
        </small>
      </div>
    </div>

  <hr>

  <div class="well">
  <h4><%=t('proposal.detail.comment_box_title')%></h4>
  <% form_for(@comment, '/proposal/comment', html: { class: 'form' }) do |f| %>
    <fieldset>
      <div class="form-group">
        <% if session[:user] %>
          <div class="controls">
            <%= f.label t('proposal.detail.form.name_tag'),
              class: 'control-label'
            %>
            <div class="controls">
              <%= f.text_field :author, class: 'form-control',
                value: session[:user].name,
                readonly: 'readonly'
              %>
            </div>
          </div>
        <% else %>
          <%= f.label t('proposal.detail.form.name_tag'),
            class: 'control-label'
          %>
          <div class="controls">
            <%= f.text_field :author, class: 'form-control',
              placeholder: t('proposal.detail.form.name_placeholder')
            %>
          </div>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label t('proposal.detail.form.comment_tag'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.text_area :body, class: 'form-control',
            placeholder: t('proposal.detail.form.comment_placeholder'),
            rows: '3'
          %>
        </div>
      </div>

      <%= f.hidden_field :proposal_id, value: @proposal_detail.id %>

      <div class="form-actions">
        <%= f.submit t('proposal.detail.form.send_button'),
          class: 'btn btn-primary'
        %>
      </div>
  <% end %>
  </div>

  <hr>
  <% for @comment in @comments %>
    <div class = "media">
      <div class="media-body">
        <h4 class="media-heading">
          <%=@comment.author%>
          <small><%=@comment.date.strftime('%c')%></small>
        </h4>
        <%=@comment.body%>
      </div>
    </div>
  <% end %>

</div>
