<div class="container page-header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Tod</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to t('nav.home_link'), url_for(:home, :index) %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to t('nav.new_proposal'), url_for(:proposal, :new) %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to t('nav.new_event'), url_for(:event, :new) %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to t('nav.proposal_list'), url_for(:proposal, :list) %></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><%= link_to t('nav.event_list'), url_for(:event, :list) %></li>
      </ul>

      <% @user = session[:user] %>
      <% if @user %>
        <ul class="nav navbar-nav">
          <li><p class="navbar-text navbar-right"><%= t('user.logged') + ': ' + @user.name %></p></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('user.log_out'), url_for(:auth, :log_out) %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('user.log_in'), url_for(:auth, :github) %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('user.create_user'), url_for(:auth, :create_user) %></li>
        </ul>
      <% end %>

      <div class="navbar-form navbar-right">
        <form method="POST" action="/proposal/search" class="form-search">
          <%= csrf_token_field %>
          <input id="query" type="text" name="query" class="form-control" placeholder="<%=t('nav.search_placeholder')%>" />
          <input type="submit" value=<%=t('nav.search_button')%> class="btn btn-primary"/>
        </form>
      </div>
    </div>
  </nav>
</div>
