<div class="container">
<h1><%=t('event.new.edit.edit')%></h1>


<% form_for(@event, "/event/update/#{@event.id}") do |f| %>

  <%= f.label t('event.new.form.amount_of_people') %>
  <%= f.text_field :amount_of_people, :class => "input-block-level" %>
  <%= f.label t('event.new.form.audience_level') %>
  <%= f.select :audience_level, :options =>[t('event.new.form.audience_1'),t('event.new.form.audience_2'),t('event.new.form.audience_3')] ,:class => "input-block-level" %>
  
  <%= f.submit "Grabar", :class => "btn btn-primary" %>
  <%= link_to 'Cancelar', url_for(:event, :list), :class => "btn btn-secondary" %>
<% end %>

</div>
