<div class="container">
  <h1><%= t('event.list.title')%></h1>
  <p><%= flash[:success] %></p>
   <% @user = session[:user] %>
  <% if @events.empty? then %>
    <tr><%= t('event.list.empty')%></tr>
  <% else %>
    <table class="table table-bordered">

      <tr>
        <th><%= t('event.list.table.amount_of_people')%></th>
        <th><%= t('event.list.table.audience_level')%></th>
        
          <th><%= t('event.list.table.max_amount_of_people')%></th>
        
        <th><%= t('event.list.table.modify_event')%></th>
        <%if @user != nil && @user.role == 'Administrador'%>
          <th><%= t('event.list.table.modify_amount')%></th>
        <%end%>
      </tr>

      <% @events.each do |event| %>
        <tr>
          <td><%= event.amount_of_people %></td>
          <td><%= event.audience_level %></td>
          
            <td><%= event.max_amount_of_people %></td>
          
          <td>
            <div class="form-actions">
              <%= link_to t('event.list.table.td.modify'),
                url_for(:event, :modify_event, :event_id => event.id),
                :id => "modify_btn",
                :class => "btn btn-success"
              %>
            </div>
          </td>
          <%if @user != nil && @user.role == 'Administrador'%>
            <td>
            <div class="form-actions">
              <%= link_to t('event.list.table.td.modify_amount'),
                url_for(:event, :modify_amount, :event_id => event.id),
                :id => "modify_btn",
                :class => "btn btn-danger"
              %>
            </div>
          </td>
          <%end%>
        </tr>
      <% end %>

    </table>
  <% end %>


</div>
