<div class="container">
<h1><%=t('user.basic_log_in')%></h1>

  <% form_for(@user, '/user/check_log_in', html: { class: 'form' }) do |f| %>
    <fieldset>
      <div class="form-group">
        <%= f.label t('user.new.form.user'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.text_field :name, class: 'form-control',
            autofocus: 'true',
            id: 'name'
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('user.new.form.password'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.password_field :password, class: 'form-control',
            autofocus: 'true',
            id: 'password'
          %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit t('user.log_in_btn'),
          class: 'btn btn-primary'
        %>
        <%= link_to t('event.new.form.cancel_button'),
          url(:user, :login),
          :class => "btn btn-default"
        %>
 <% end %>
</div>

