<div class="container">
<h1><%=t('user.create_user')%></h1>

  <% form_for(@user, '/user/create', html: { class: 'form' }) do |f| %>
    <fieldset>
      <div class="form-group">
        <%= f.label t('user.new.form.name'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.text_field :name, class: 'form-control',
            autofocus: 'true',
            id: 'name'
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('user.new.form.email'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.text_field :email, class: 'form-control',
            autofocus: 'true',
            id: 'email'
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('user.new.form.password'),
          class: 'control-label'
        %>
        <div class="controls">
          <%= f.password_field :password, class: 'form-control',
            autofocus: 'true',
            id: 'password'
          %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label t('user.new.form.role.role'),
          class: 'control-label'
        %>
          <%= f.select :role, :options => [t('user.new.form.user'),t('user.new.form.role.administrator')],
            class: 'form-control',
            autofocus: 'true',
            id: 'role'
          %>
      </div>

      <div class="form-actions">
        <%= f.submit t('event.new.form.new_button'),
          class: 'btn btn-primary'
        %>
        <%= link_to t('event.new.form.cancel_button'),
          url(:user, :new),
          :class => "btn btn-default"
        %>
      </div>

  <% end %>

</div>